In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os, yaml # credentials:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
# Récup des info de connection
with open('config.yaml', 'r') as file:
    config = yaml.safe_load(file)
#print(config)

cfg=config['PG']
# Connection à BDD
url = "{driver}://{user}:{password}@{host}/{database}".format(**cfg)
print('URL', url)
engine = create_engine(url)
engine

URL postgresql+psycopg2://postgres:greta2023@greta-p2-g2.westeurope.cloudapp.azure.com/netfloox

Engine(postgresql+psycopg2://postgres:***@greta-p2-g2.westeurope.cloudapp.azure.com/netfloox)

In [3]:
# Déclaration des fonctions
def concat_features(row):
    return(row['genres'].replace(",", " ") + " " + row['nconst'].replace(",", " "))

### Target / Features
- Target
  - title_ratings : averageRating
- Features
  - title_basics : genres
  - title_basics : runtimeMinutes

In [4]:
df = pd.read_sql("""
                 SELECT tconst, genres, nconst, "runtimeMinutes" FROM title_basics A 
                 LEFT JOIN grouped_name_basics B 
                 ON (A.tconst=B."knownForTitles") 
                 WHERE "titleType"='movie';
                 """, engine)

df.fillna(value='', inplace=True)

In [5]:
df_ratings = pd.read_sql("""
                         select tr.tconst, "averageRating" from title_ratings tr
                         left join title_basics tb
                         on (tr.tconst = tb.tconst)
                         where tb."titleType" = 'movie';
                         """, engine)

In [6]:
df_merge1 = pd.merge(df, df_ratings, how='inner', on='tconst')

In [7]:
df_merge1

,tconst,genres,nconst,runtimeMinutes,averageRating
0,tt12146448,"Comedy,Drama,Romance","nm7794816,nm8552753,nm8814041,nm9009986,nm9045...",106.0,6.3
1,tt3748466,"Action,Comedy,Horror","nm7793594,nm7793618,nm7820069,nm7862899,nm8011...",105.0,7.1
2,tt0090370,"Comedy,Drama,Musical","nm7795007,nm9735337,nm0023926,nm0043093,nm0043...",90.0,7.3
3,tt3907584,"Drama,Romance","nm7794639,nm7815886,nm7886161,nm8224802,nm8250...",107.0,6.5
4,tt15816392,"Action,Adventure,Crime","nm7795063,nm8038606,nm8587930,nm0423575,nm0741...",135.0,4.4
...,...,...,...,...,...
286801,tt0154376,,,,6.6
286802,tt0400830,"Drama,Family",,125.0,7.2
286803,tt0029976,Western,,56.0,6.5
286804,tt4110052,"Action,Adventure,Comedy",,,4.4
286805,tt0155896,,,140.0,7.0

In [12]:
df_crew = pd.read_sql("""
                      select tc.tconst, directors from title_crew tc
                      left join title_basics tb
                      on (tc.tconst = tb.tconst)
                      where tb."titleType" = 'movie';
                      """, engine)

In [14]:
df_merge2 = pd.merge(df_merge1, df_crew, on='tconst', how='inner')

In [15]:
df_merge2

,tconst,genres,nconst,runtimeMinutes,averageRating,directors
0,tt12146448,"Comedy,Drama,Romance","nm7794816,nm8552753,nm8814041,nm9009986,nm9045...",106.0,6.3,nm0541391
1,tt3748466,"Action,Comedy,Horror","nm7793594,nm7793618,nm7820069,nm7862899,nm8011...",105.0,7.1,nm0560277
2,tt0090370,"Comedy,Drama,Musical","nm7795007,nm9735337,nm0023926,nm0043093,nm0043...",90.0,7.3,nm0787668
3,tt3907584,"Drama,Romance","nm7794639,nm7815886,nm7886161,nm8224802,nm8250...",107.0,6.5,nm1417640
4,tt15816392,"Action,Adventure,Crime","nm7795063,nm8038606,nm8587930,nm0423575,nm0741...",135.0,4.4,nm3946106
...,...,...,...,...,...,...
286801,tt0154376,,,,6.6,nm2055188
286802,tt0400830,"Drama,Family",,125.0,7.2,nm1069827
286803,tt0029976,Western,,56.0,6.5,nm0782947
286804,tt4110052,"Action,Adventure,Comedy",,,4.4,nm1437277
286805,tt0155896,,,140.0,7.0,nm0707300