In [65]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os, yaml # credentials:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

In [66]:
# Récup des info de connection
with open('config.yaml', 'r') as file:
    config = yaml.safe_load(file)
#print(config)

cfg=config['PG']
# Connection à BDD
url = "{driver}://{user}:{password}@{host}/{database}".format(**cfg)
print('URL', url)
engine = create_engine(url)
engine

URL postgresql+psycopg2://postgres:greta2023@greta-p2-g2.westeurope.cloudapp.azure.com/netfloox

Engine(postgresql+psycopg2://postgres:***@greta-p2-g2.westeurope.cloudapp.azure.com/netfloox)

In [67]:
# Déclaration des fonctions
def concat_features(row):
    return(row['genres'].replace(",", " ") + " " + row['nconst'].replace(",", " "))

### Target / Features
- Target
  - title_ratings : averageRating
- Features
  - title_basics : genres
  - title_basics : runtimeMinutes

In [68]:
df = pd.read_sql("""
                 SELECT tconst, genres, nconst, "runtimeMinutes" FROM title_basics A 
                 LEFT JOIN grouped_name_basics B 
                 ON (A.tconst=B."knownForTitles") 
                 WHERE "titleType"='movie';
                 """, engine)

In [69]:
df_ratings = pd.read_sql("""
                         select tr.tconst, "averageRating" from title_ratings tr
                         left join title_basics tb
                         on (tr.tconst = tb.tconst)
                         where tb."titleType" = 'movie';
                         """, engine)

In [70]:
df_merge1 = pd.merge(df, df_ratings, how='inner', on='tconst')

In [71]:
df_merge1

,tconst,genres,nconst,runtimeMinutes,averageRating
0,tt12146448,"Comedy,Drama,Romance","nm7794816,nm8552753,nm8814041,nm9009986,nm9045...",106.0,6.3
1,tt3748466,"Action,Comedy,Horror","nm7793594,nm7793618,nm7820069,nm7862899,nm8011...",105.0,7.1
2,tt0090370,"Comedy,Drama,Musical","nm7795007,nm9735337,nm0023926,nm0043093,nm0043...",90.0,7.3
3,tt3907584,"Drama,Romance","nm7794639,nm7815886,nm7886161,nm8224802,nm8250...",107.0,6.5
4,tt15816392,"Action,Adventure,Crime","nm7795063,nm8038606,nm8587930,nm0423575,nm0741...",135.0,4.4
...,...,...,...,...,...
286801,tt0154376,None,None,NaN,6.6
286802,tt0400830,"Drama,Family",None,125.0,7.2
286803,tt0029976,Western,None,56.0,6.5
286804,tt4110052,"Action,Adventure,Comedy",None,NaN,4.4
286805,tt0155896,None,None,140.0,7.0

In [72]:
df_directors = pd.read_sql("""
                           select tc.tconst, directors from title_crew tc
                           left join title_ratings tr
                           on (tr.tconst = tc.tconst);
                           """, engine)

In [73]:
df_directors

             tconst            directors
0        tt19728344            nm1409127
1        tt19728346            nm1409127
2        tt19728348            nm1409127
3         tt1972834  nm4161712,nm4399656
4        tt19728350            nm1409127
...             ...                  ...
9593221  tt19728336            nm1409127
9593222  tt19728338            nm1409127
9593223   tt1972833            nm4373804
9593224  tt19728340                 None
9593225  tt19728342            nm1409127

[9593226 rows x 2 columns]

In [74]:
df_merge2 = pd.merge(df_directors, df_merge1, on='tconst', how='inner')

In [75]:
df_actor = pd.read_sql("""
                       select tp.nconst, tr.tconst from title_ratings tr
                       left join title_principals tp
                       on (tr.tconst = tp.tconst)
                       where category = 'actor';
                       """, engine)

In [76]:
df_actor = df_actor.rename(columns={'nconst': 'actor_id'})
df_merge3 = pd.merge(df_merge2, df_actor, how='inner', on='tconst')

In [77]:
df_merge3

,tconst,directors,genres,nconst,runtimeMinutes,averageRating,actor_id
0,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm5964115
1,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm0619056
2,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm5754203
3,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm12542644
4,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm7465867
...,...,...,...,...,...,...,...
676205,tt1972819,nm0192478,"Drama,Romance","nm1084584,nm11296503,nm11296504,nm11296505,nm1...",83.0,5.7,nm3284401
676206,tt1972828,nm2424342,Comedy,"nm8193996,nm10393907,nm11797594,nm1718063,nm40...",89.0,5.9,nm4502931
676207,tt1972828,nm2424342,Comedy,"nm8193996,nm10393907,nm11797594,nm1718063,nm40...",89.0,5.9,nm3093554
676208,tt1972828,nm2424342,Comedy,"nm8193996,nm10393907,nm11797594,nm1718063,nm40...",89.0,5.9,nm6674612
676209,tt1972828,nm2424342,Comedy,"nm8193996,nm10393907,nm11797594,nm1718063,nm40...",89.0,5.9,nm0252640

In [78]:
df_actress = pd.read_sql("""
                        select tp.nconst, tr.tconst from title_ratings tr
                        left join title_principals tp
                        on (tr.tconst = tp.tconst)
                        where category = 'actress';
                         """, engine)

In [79]:
df_actress = df_actress.rename(columns={'nconst': 'actress_id'})
df_merge4 = pd.merge(df_merge3, df_actress, how='inner', on='tconst')

In [80]:
df_merge4

,tconst,directors,genres,nconst,runtimeMinutes,averageRating,actor_id,actress_id
0,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm5964115,nm10998143
1,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm0619056,nm10998143
2,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm5754203,nm10998143
3,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm12542644,nm10998143
4,tt19730260,nm13584356,Musical,"nm10998143,nm12106665,nm12542644,nm13584243,nm...",154.0,9.0,nm7465867,nm10998143
...,...,...,...,...,...,...,...,...
968734,tt1972816,nm3808038,"Comedy,Drama","nm0758668,nm2946175,nm3402596,nm3807344,nm3807...",55.0,6.1,nm4520980,nm4519715
968735,tt1972819,nm0192478,"Drama,Romance","nm1084584,nm11296503,nm11296504,nm11296505,nm1...",83.0,5.7,nm0325221,nm0098378
968736,tt1972819,nm0192478,"Drama,Romance","nm1084584,nm11296503,nm11296504,nm11296505,nm1...",83.0,5.7,nm0325221,nm0001954
968737,tt1972819,nm0192478,"Drama,Romance","nm1084584,nm11296503,nm11296504,nm11296505,nm1...",83.0,5.7,nm3284401,nm0098378
968738,tt1972819,nm0192478,"Drama,Romance","nm1084584,nm11296503,nm11296504,nm11296505,nm1...",83.0,5.7,nm3284401,nm0001954

In [81]:
df_names = pd.read_sql("""
                       select nconst, "primaryName" from name_basics;
                       """, engine)

In [82]:
df_names = df_names.rename(columns={'nconst': 'directors'})

In [83]:
df_final = pd.merge(df_merge4, df_names, on='directors', how='inner')

In [84]:
df_final = df_final.rename(columns={"primaryName":"director_name"}).drop('directors', axis=1)

In [85]:
df_names = df_names.rename(columns={"directors":"actor_id"})

In [86]:
df_final = pd.merge(df_final, df_names, on='actor_id', how='inner')

In [87]:
df_final = df_final.rename(columns={'primaryName':'actor_name'}).drop('actor_id', axis=1)

In [88]:
df_names = df_names.rename(columns={"actor_id":"actress_id"})

In [89]:
df_final = pd.merge(df_final, df_names, how='inner', on='actress_id')

In [90]:
df_final = df_final.rename(columns={'primaryName': 'actress_name'}).drop(columns='actress_id', axis=1)

In [91]:
df_final = df_final.drop('nconst', 1)

/tmp/ipykernel_12627/703005331.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_final = df_final.drop('nconst', 1)

In [96]:
df_final.to_csv('data_regression.csv')