In [43]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import yaml # credentials:

In [44]:
# Récup des info de connection
with open('config.yaml', 'r') as file:
    config = yaml.safe_load(file)
#print(config)

cfg=config['PG']
# Connection à BDD
url = "{driver}://{user}:{password}@{host}/{database}".format(**cfg)
print('URL', url)
engine = create_engine(url)
engine

URL postgresql+psycopg2://postgres:greta2023@greta-p2-g2.westeurope.cloudapp.azure.com/netfloox

Engine(postgresql+psycopg2://postgres:***@greta-p2-g2.westeurope.cloudapp.azure.com/netfloox)

### Target / Features
- Target
  - title_ratings : averageRating
- Features
  - title_basics : genres
  - title_basics : runtimeMinutes

In [45]:
df_ratings = pd.read_sql("""
                         select tr.tconst, "averageRating" from title_ratings tr
                         left join final_title_basics ftb
                         on tr.tconst = ftb.tconst
                         """, engine)

In [46]:
df_movies = pd.read_sql("""
                        select tconst, decade, "runtimeMinutes", genres from final_title_basics
                        """, engine)

In [47]:
df_final = pd.merge(df_ratings, df_movies, how='inner', on='tconst')

In [48]:
df_directors = pd.read_sql("""
                           select ftb.tconst, directors from title_crew tc
                           left join final_title_basics ftb
                           on ftb.tconst = tc.tconst
                           """, engine)

In [49]:
df_directors = df_directors.dropna(subset='tconst')

In [50]:
df_final = pd.merge(df_final, df_directors, on='tconst', how='inner')

In [51]:
directors = [item.split(',')[0] if item is not None else np.nan for item in df_final['directors']]

In [52]:
df_final['directors'] = directors

In [53]:
df_final

,tconst,averageRating,decade,runtimeMinutes,genres,directors
0,tt2091258,6.6,201.0,76.0,Thriller,nm4211104
1,tt2091368,5.8,201.0,125.0,Drama,nm3626440
2,tt2091459,7.0,201.0,98.0,Drama,nm3637259
3,tt2091880,5.4,201.0,84.0,Drama,nm1097974
4,tt2093153,6.9,201.0,95.0,Drama,nm0664607
...,...,...,...,...,...,...
286801,tt2088865,7.2,201.0,65.0,"Biography,Documentary,Drama",nm2259264
286802,tt2089642,7.0,201.0,98.0,Drama,nm4731975
286803,tt2089653,5.7,201.0,77.0,"Drama,Horror,Thriller",nm2775992
286804,tt2089721,7.3,201.0,106.0,"Drama,Musical",nm2918988
286805,tt20899952,5.8,202.0,90.0,"Comedy,Romance",nm3488211

In [54]:
df_names = pd.read_sql("""
                       select distinct nconst, "primaryName" from name_basics
                       """, engine)

In [55]:
df_names = df_names.rename(columns={"nconst":"directors"})

In [56]:
df_final = pd.merge(df_final, df_names, on='directors', how='inner')

In [57]:
df_final = df_final.rename(columns={"primaryName":"directors_name"}).drop('directors', axis=1)

In [58]:
df_actors = pd.read_sql("""
                       select tconst, actors from tconst_actors
                       """, engine)

In [59]:
actors = [item.split(',')[0] if item is not None else np.nan for item in df_actors['actors']]

In [60]:
df_actors['actors'] = actors

In [61]:
df_final = pd.merge(df_actors, df_final, how='inner', on='tconst')

In [62]:
df_names = df_names.rename(columns={"directors":"actors"})

In [63]:
df_final = pd.merge(df_final, df_names, on='actors', how='inner')

In [64]:
df_final = df_final.drop('actors', axis=1)

In [65]:
df_final = df_final.rename(columns={"primaryName": "actors"})

In [66]:
df_actress = pd.read_sql("""
                         select tconst, actress from tconst_actress
                         """, engine)

In [67]:
actress = [item.split(',')[0] if item is not None else np.nan for item in df_actress['actress']]

In [68]:
df_actress['actress'] = actress

In [69]:
df_final = pd.merge(df_final, df_actress, how='inner', on='tconst')

In [70]:
df_names = df_names.rename(columns={"actors":"actress"})

In [71]:
df_final = pd.merge(df_final, df_names, on='actress', how='inner')

In [72]:
df_final = df_final.drop('actress', axis=1).rename(columns={"primaryName":"actress"})

In [73]:
df_final

,tconst,averageRating,decade,runtimeMinutes,genres,directors_name,actors,actress
0,tt0001630,6.2,191.0,45.0,None,Urban Gad,Hans Mierendorff,Agda Nilsson
1,tt0009062,6.1,191.0,48.0,Comedy,Ernst Lubitsch,Harry Liedtke,Agda Nilsson
2,tt1090247,7.0,193.0,NaN,Crime,Rolf Randolf,Hans Mierendorff,Zet Molas
3,tt0286687,6.2,192.0,NaN,"Action,Adventure,Drama",Joe May,Hans Mierendorff,Mia May
4,tt0014558,5.2,192.0,NaN,Drama,Joe May,Emil Jannings,Mia May
...,...,...,...,...,...,...,...,...
211617,tt9165740,6.2,202.0,101.0,Drama,Morgan Ingari,Michael Judson Berry,Molly Bernard
211618,tt3685554,6.3,201.0,91.0,"Drama,War",José Luis Rugeles,Carlos Clavijo,Carmenza González
211619,tt0064950,4.0,196.0,83.0,Horror,Joseph Adler,Ross Harris,Eugenie Wingate
211620,tt5823682,7.7,201.0,91.0,Thriller,Jon-Claire Lee,Asif Khan,Lucy Quill
211621,tt0357284,5.5,200.0,82.0,Documentary,Sigve Endresen,Jørn Christensen,Hilde Heltberg

In [74]:
df_final.to_csv('datasets/data_regression.csv')